
  
  
  .row .col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 250px; /* Flex grow, flex shrink, and flex basis */
    max-width: 400px; /* Maximum width for each course */
    margin-bottom: 35px; /* Spacing between rows of courses */
  }
  
  /* Adjustments for responsiveness */
  @media (max-width: 1200px) { /* Adjust the breakpoint as needed */
    .row .col {
      flex: 1 0 33.3333%;
    }
  }
  
  @media (max-width: 992px) { /* Adjust the breakpoint as needed */
    .row .col {
      flex: 1 0 50%;
    }
  }


  .card {
    background-color: #fff; /* Or any color you want for the card background */
    border: 1px solid #ddd; /* Card border */
    border-radius: 0.25rem; /* Rounded corners */
  }
  
  .card-img-top {
    width: 100%; /* Full width of the card */
    object-fit: cover; /* Maintain aspect ratio, you can adjust as needed */
  }
  
  .card-body {
    padding: 1rem; /* Padding inside the card */
  }
  
  .card-title {
    margin-bottom: 0.75rem; /* Space below the title inside the card */
  }
  
  .card-text {
    margin-bottom: 1rem; /* Space below the text inside the card */
  }
  
  .btn {
    margin-top: 0.5rem; /* Space above the button inside the card */
  }

  .container.mt-4 {
    /* Adjust the top margin to reduce the space */
    margin-left: 2rem; /* This value is an example, you can set it to what you find appropriate */
  }