.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100vh;
    
  }
  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a svg {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
  }
  .wd-kanbas-navigation li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wd-kanbas-navigation .account-item a svg{
    fill: grey; /* or any color you want for the text */
  }

  .wd-kanbas-navigation .icon-account {
    color: grey; /* This will change the Account icon color to grey */
}

/* If you want to change the text color specifically when it's active, you might need additional CSS */
.wd-kanbas-navigation li.wd-active a .icon-account {
    color: grey; /* This ensures that the Account icon remains grey even when active */
}
  